<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>


    <div>
        <p>
            Please input the city:
        </p>

        <form action="/weather" method="get">
          <p>City Name: <input type="text" name="wName" placeholder = "City Name"/></p>
          <input type="submit" value="Submit" />
        </form>

        </form>

    </div>

  </body>
</html>
